.create_new_employee_popup {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: FadeIn 0.3s;
}

.new_emp_popup_content {
  background-color: white !important;
  padding: 15px 20px !important;
  margin-top: 0 !important;
  width: 95% !important;
  max-width: 95%;
  overflow: auto;
}
.popup_header {
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 2px solid var(--color-gray-light);
}
.nav_btn_popup {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  color: var(--color-black);
  font-size: 16px;
  padding: 10px;
  transition: 0.3s;
}
.nav_btn_popup.active {
  color: var(--color-green);
  border-block-color: var(--color-green);
  font-weight: 600;
  background-color: var(--color-green-light);
}
.forms_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  overflow: hidden;
}
.new_emp_form {
  min-width: 100%;
  display: flex;
}
.new_emp_form.personal_info {
  transform: translateX(0%) !important;
}
.new_emp_form.professional_info {
  transform: translateX(-100%) !important;
}
.new_emp_form > form {
  min-width: 100%;
  height: fit-content;
  row-gap: 20px;
  margin: 0;
  padding: 0;
}

.new_emp_form > form > div,
.new_emp_form > form > div .id_box {
  position: relative;
}
#generate_id {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: var(--color-green);
  font-weight: 600;
  position: absolute;
  bottom: 7px;
  right: 15px;
}
.new_emp_form > form > div label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--color-gray);
  cursor: pointer;
}
.new_emp_form > form > div input {
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  height: 35px;
  position: relative;
}
.new_emp_form > form > div input + p.validation_massage {
  position: absolute;
  bottom: -20px;
  left: 12px;
  font-size: 12px;
  color: red;
  display: none;
}
.new_emp_form > form > div input.empty + p.validation_massage,
.new_emp_form > form > div input.not_valid + p.validation_massage {
  display: block;
}
.new_emp_form > form > div input.valid + p {
  display: block;
  color: var(--color-green);
}
.new_emp_form > form div.box {
  position: relative;
}
.new_emp_form > form > div input.is_valid {
  border-color: var(--color-green);
}
.new_emp_form > form > div input[type="number"]::-webkit-inner-spin-button,
.new_emp_form > form > div input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
.select_box {
  position: relative;
  appearance: none;
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--color-gray-light);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 35px;
}
.select_box .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px var(--color-gray-light);
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 5;
  animation: FadeIn 0.3s;
}
.select_box .options .options_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 115px;
  overflow-y: auto;
}
#add_new_item,
#add_new_team_leader {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--color-green);
  color: var(--color-green);
  border-radius: 5px;
  font-size: 14px;
  width: fit-content;
  margin-top: 10px;
}
.select_box i {
  color: var(--color-gray);
  font-size: 16px;
}
.select_box i.active {
  rotate: 90deg;
}
.select_box .options span {
  padding: 5px;
  border-radius: 5px;
  color: var(--color-gray);
}
.select_box .options span:hover {
  background-color: var(--color-green-light);
}
.select_box .options span.current_option {
  background-color: var(--color-green-light);
  color: var(--color-black);
}
.control_btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.control_btns > button {
  border: 1px solid var(--color-gray-light);
  font-size: 14px;
  color: var(--color-gray);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}
.control_btns > button.next_step,
.control_btns > button.save {
  color: var(--color-green);
  border: 1px solid var(--color-green);
}
.file_image_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 35px;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  padding: 0 10px;
  > label {
    width: 100%;
  }
  > label {
    margin: 0 !important;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.productive i {
  position: absolute;
  bottom: 10px;
  right: 25px;
  color: var(--color-gray);
  font-size: 14px;
}
.advanced_info .select_box .options {
  max-height: 120px;
  overflow-y: auto;
}
.advanced_info h3 {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-gray);
  font-weight: normal;
}
.educational_duration label {
  margin-top: 10px;
}
.bank_info,
.pan_number {
  padding-right: 0 !important;
}
#save_data_btn {
  cursor: not-allowed;
}
#save_data_btn.saved {
  cursor: pointer;
  color: var(--color-green);
  border-color: var(--color-green);
}
@media (max-width: 768px) {
  .nav_btn_popup {
    font-size: 12px;
    > i {
      display: none;
    }
  }
  .forms_container {
    padding: 10px 0;
  }
  .per_info {
    gap: 20px !important;
  }
  .new_emp_form > form:last-of-type {
    gap: 30px;
  }
  .new_emp_form > form > div {
    font-size: 12px;
  }
  .new_emp_form > form > div input {
    font-size: 12px;
  }
  .select_box {
    font-size: 12px;
  }
  .new_emp_form > form {
    row-gap: 5px;
  }
  .file_image_box {
    > label > span {
      font-size: 12px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .bank_info {
    gap: 10px;
  }
}
