.language_input_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 150 !important;
}

.language_input_popup.show_popup {
  animation: open_popup 0.3s backwards;
  top: 0;
}
.language_input_popup.hide_popup {
  animation: close_popup 0.5s 0.5s both;
}
.language_input_popup .language_form {
  display: flex;
  flex-direction: column;
  background-color: white !important;
  gap: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 95%;
  > h1 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-gray-light);
  }

  input::after {
    background-color: var(--color-gray);
  }
  input::before {
    border-color: #ccc;
  }
}
.language_input_popup.show_popup .language_form {
  animation: open_form 0.5s 0.5s both;
}
.language_input_popup.hide_popup .language_form {
  animation: close_form 0.5s both;
}

@keyframes open_popup {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes close_popup {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
@keyframes open_form {
  0% {
    max-height: 0;
    padding: 0 20px;
    overflow: hidden;
  }
  100% {
    max-height: 100%;
    padding: 20px;
    overflow: hidden;
  }
}
@keyframes close_form {
  0% {
    height: 100%;
    padding: 20px;
    overflow: hidden;
  }
  100% {
    height: 0%;
    padding: 0 20px;
    overflow: hidden;
  }
}
.language_input_popup .language_form.valid {
  input::after {
    background-color: var(--color-green);
  }
  input::before {
    border-color: var(--color-green);
  }
}
.language_input_popup .language_form .select {
  margin-top: 10px;
  max-width: 100%;
}
.language_input_popup .language_form h3,
.language_input_popup .language_form section > span {
  font-size: 17px;
  font-weight: 500;
}

.language_input_popup .language_form .options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
  overflow-y: auto;
}
.language_input_popup .language_form .options div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.language_input_popup .language_form section.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.language_input_popup .language_form input[type="radio"]::after {
  width: 11px;
  height: 11px;
  top: 4.5px;
  left: 0.5px;
}
