.autocomplete_selector {
  position: relative;
}
.autocomplete_selector input {
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  height: 35px;
}
.autocomplete_selector .suggestions {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 120px;
  overflow: auto;
  animation: fade_in 0.3s both linear;
  z-index: 1000;
  > span {
    padding: 5px;
    font-size: 14px;
    color: var(--color-gray);
    cursor: pointer;
  }
  > span:hover {
    background-color: var(--color-green-light);
  }
  > p {
    width: 100%;
    text-align: center;
    color: var(--color-gray);
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
