.home-content-area .total-employees .doughnut_chart_container {
  height: 140px;
  width: 100%;
  margin-bottom: 10px;
}
.home-content-area .total-employees ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.home-content-area .total-employees ul li {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: solid line-through var(--color-black);
}
.home-content-area .total-employees ul li.active {
  text-decoration: none;
}
.home-content-area .total-employees ul li .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.home-content-area .total-employees ul li p {
  text-align: end;
  flex-grow: 1;
}

