.event_form_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 100;
  animation: close_popup 0.5s 0.4s both;
  cursor: pointer;
}
.event_form_popup.open_popup {
  display: block !important;
  animation: open_popup 0.5s both;
}
.event_form_popup .event_container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 20px;
  animation: close_form 0.5s both;
  cursor: auto;
}
.event_form_popup.open_popup .event_container {
  display: block;
  animation: open_form 0.5s 0.3s both;
}

@keyframes open_popup {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes close_popup {
  0% {
    left: 0%;
    display: block;
  }
  100% {
    display: none;
    left: 100%;
  }
}
@keyframes open_form {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes close_form {
  0% {
    right: 0%;
    display: block;
  }
  100% {
    display: none;
    right: -100%;
  }
}
.event_form_popup .event_container h1 {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-black);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-gray-light);
  margin-bottom: 20px;
}
.event_form_popup .event_container .event_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.event_form_popup .event_container .event_form > div.field,
.event_form_popup .event_container .event_form > div.compo_field > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  > input,
  > textarea {
    outline: none;
    border: 1px solid var(--color-gray-light);
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 10px;
  }
  > input.not_valid , textarea.not_valid {
    border-color: var(--color-red) ;
  }
  > textarea {
    height: 100px;
  }
  > .select {
    padding: 8px 10px;
    font-size: 14px;
  }
}
.event_form_popup .event_container .event_form > div.footer > button {
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  background: transparent;
  padding: 10px;
  cursor: pointer;
}
.event_form_popup
  .event_container
  .event_form
  > div.footer
  > button#add_event_button {
  cursor: not-allowed;
}
.event_form_popup
  .event_container
  .event_form
  > div.footer
  > button.allow_to_add {
  background: var(--color-green);
  color: #fff;
  cursor: pointer !important;
}
.event_form_popup .event_container .event_form > div.footer > button.cancel {
  background: #f7f7f7;
}
.event_form_popup
  .event_container
  .event_form
  > div.footer
  > button.cancel:hover {
  background: #eee;
}

@media (max-width: 768px) {
  .event_form_popup .event_container {
    width: 100%;
  }
  .event_form_popup .event_container .event_form > div.compo_field {
    flex-direction: column;
    gap: 20px;
  }
}
