.my_navbar {
  box-shadow: 0 0 5px var(--color-gray-light);
  background-color: var(--color-white);
}

.my_navbar .img_box {
  height: 45px;
}
.my_navbar .img_box h2 {
  font-weight: 600 !important;
}
.my_navbar .search_part {
  width: 300px;
  border: 2px solid var(--color-gray-light);
  border-radius: 5px;
  position: relative;
}
.my_navbar .search_part input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  padding-left: 35px;
  font-size: 16px;
  background-color: transparent;
  color: var(--color-gray);
}
.my_navbar .search_part i {
  position: absolute;
  color: var(--color-gray);
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.my_navbar .nav_right {
  padding: 0 !important;
}
/* Start Home body */
.home_body {
  flex-grow: 1;
}
/* sidebar */
.sidebar {
  background: white;
  box-shadow: 0 0 5px var(--color-gray-light);
  padding: 0;
}
.sidebar .menu_content {
  padding: 0 !important;
  padding: 0 20px !important  ;
  height: 100%;
}
.sidebar .menu {
  width: auto;
  padding-top: 20px;
  height: 100% !important;
}
.sidebar .menu .menu_content > ul {
  min-width: 100%;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* Start Style Home Page Content Area */
.home-content-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home-content-area .row-one {
  display: grid;
  grid-template-rows: 320px;
  grid-auto-rows: 320px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}
.home-content-area .row-two {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, minmax(230px, 1fr));
  gap: 15px;
}
.home-content-area .section {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--color-gray-light);
  position: relative;
  > .head {
    margin-bottom: 10px;
  }
}
.home-content-area .section .title {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.home-content-area .banner {
  overflow: hidden;
}
.home-content-area .banner {
  gap: 10px;
  padding-top: 170px !important;
}
.home-content-area .banner .shap {
  width: 100%;
  height: 300px;
  background-color: var(--color-green-light);
  border-radius: 0 0 500px 500px;
  position: absolute;
  left: 0;
  top: -150px;
}
.home-content-area .banner img {
  max-width: 60%;
}
.home-content-area .banner h1 {
  font-size: 14px;
  font-weight: bold;
}
.home-content-area .banner p {
  max-width: 250px;
  font-size: 12px;
  color: var(--color-gray);
  line-height: 1.4;
  text-align: center;
}
.home-content-area .banner button {
  padding: 5px 15px;
  font-size: 14px;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 5px;
  outline: none;
  border: none;
}
/* Start team-preformance-area */
.home-content-area .team-preformance-area {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home-content-area .team-preformance-area .top {
  gap: 20px;
  flex-wrap: wrap;
}
.home-content-area .team-preformance-area .top > div .icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #f7f7f7;
}

/* Start Row Two */
/* Start employee_status  */
.home-content-area .employee_status {
  grid-column: 1/3;
}
.home-content-area .employee_status .table_container {
  overflow: auto;
}
.home-content-area .employee_status .table {
  min-width: fit-content;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  padding: 0;
  margin: 0;
}
.home-content-area .employee_status .table .table_body {
  max-height: 138px;
  overflow-y: auto;
}
.home-content-area .employee_status .table .table_head,
.home-content-area .employee_status .table .table_body .table_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 5px;
  width: 100%;
}
.home-content-area .employee_status .table .table_body .table_row {
  background-color: transparent;
  border-bottom: 1px solid var(--color-gray-light);
}
.home-content-area .employee_status .table .table_body .table_row:hover {
  background: #f3f4f6;
  cursor: pointer;
}
.home-content-area .employee_status .table .table_body .table_row.disabled {
  background: #e5e7eb;
  color: gray !important;
  cursor: auto !important;
}
.home-content-area .employee_status .table .table_body .table_row:last-of-type {
  border-bottom: none;
}
.home-content-area .employee_status .table .table_head > div,
.home-content-area .employee_status .table .table_body .table_row > div {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 90px;
  max-width: 90px;
  padding: 0;
  > span,
  i {
    padding: 0 !important;
    background-color: transparent !important;
    font-size: 13px;
  }
  > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.home-content-area
  .employee_status
  .table
  .table_body
  .table_row
  > div.employee_id
  > span {
  margin-left: 15px;
  color: var(--color-green);
  text-decoration: dashed var(--color-green) underline;
}
.home-content-area .employee_status .table .table_head > div.view,
.home-content-area .employee_status .table .table_body .table_row > div.view {
  justify-content: center;
  > button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
  }
}
.home-content-area .employee_status .table .not_exist {
  width: 100%;
  height: 40px;
  background: #eee;
  display: none;
  align-items: center;
  justify-content: center;
}

.home-content-area .employee_status .table .not_exist.active {
  display: flex;
}
/* Start Event and Meeting */
.home-content-area .meeting_and_events {
  display: flex;
  flex-direction: column;
}
.home-content-area .meeting_and_events .add_new_event {
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--color-green-light);
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-green);
}
.home-content-area .meeting_and_events .events_body {
  display: flex;
  flex-direction: column;
  max-height: 180px;
  overflow-y: auto;
  padding-right: 5px;
  flex-grow: 1;
  padding: 5px;
}
.home-content-area .meeting_and_events .events_body > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-gray-light);
  gap: 20px;
}
.home-content-area .meeting_and_events .events_body .no_events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  flex-grow: 1;
  color: gray;
  > i {
    font-size: 30px;
  }
}
.home-content-area .meeting_and_events .events_body > div:first-of-type {
  padding-top: 0;
}
.home-content-area .meeting_and_events .events_body > div:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
.home-content-area .meeting_and_events .events_body > div .left {
  display: flex;
  align-items: center;
  gap: 10px;
  > .icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
}
.home-content-area .meeting_and_events .events_body > div .left > .text,
.home-content-area .meeting_and_events .events_body > div .right,
.home-content-area .birthday .birthday_content > div.box .left > .text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: var(--color-gray);
  > p {
    color: black;
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
}
.home-content-area .meeting_and_events .events_body > div .right {
  align-items: end;
  text-align: end;
}
.home-content-area .birthday .birthday_content {
  max-height: 170px;
  overflow-y: auto;
}
.home-content-area .birthday .birthday_content > div.box {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap !important;
  justify-content: space-between;
  padding: 5px 8px;
  background-color: #f7f7f7;
  border-radius: 5px;

  > .left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    .img_box {
      flex-grow: 0;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      overflow: hidden;
      > img {
        max-width: 100%;
        object-fit: contain;
      }
    }
    > div {
      flex-grow: 1;
      > span,
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  > div {
    font-size: 13px;
    color: var(--color-gray);
  }
}
.home-content-area .birthday .select {
  max-width: fit-content;
}
.delete_employee {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-green);
  margin-right: 10px;
  display: none;
}
.delete_employee.active {
  display: flex;
}
.delete_employee:hover {
  color: var(--color-red);
}
@media (max-width: 1350px) {
  .home-content-area .row-one {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
  .home-content-area .row-two {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .home-content-area .banner {
    order: 1;
  }
  .home-content-area .team-preformance-area {
    grid-column: 1/3;
    order: 3;
    height: fit-content;
  }
  .home-content-area .team-preformance-area .bottom {
    min-height: fit-content !important;
  }
  .home-content-area .total-employees {
    order: 2;
  }
  .home-content-area .employee_status .table .table_body {
    max-height: 137px;
  }
}
@media (max-width: 1200px) {
  .menu_btn {
    display: block;
  }
  .home_body .sidebar ul {
    min-width: 250px;
  }
  .home_body .sidebar .resposive_button {
    display: block;
  }
  .home_body .sidebar {
    position: fixed;
    height: 100vh;
    width: 240px;
    top: 0;
    left: 0;
    z-index: 20;
    transition: 0.4s;
  }
  .home_body .sidebar.close_sidebar {
    width: 0;
  }
}

@media (max-width: 770px) {
  .search_part {
    display: none;
  }
}

@media (max-width: 650px) {
  .home-content-area .row-one {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .home-content-area .row-two {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  .home-content-area .team-preformance-area,
  .home-content-area .employee_status {
    grid-column: 1/2;
  }
}
