.home-content-area .team-preformance-area .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.home-content-area .team-preformance-area .top h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-black);
}
.home-content-area .team-preformance-area .top .right {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.home-content-area .team-preformance-area .top .right button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
  text-decoration: solid line-through var(--color-gray);
}
.home-content-area .team-preformance-area .top .right button.active{
    text-decoration: none;
}
.home-content-area .team-preformance-area .top .right button .circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid var(--color-gray);
  background-color: var(--color-gray-light);
}

.home-content-area
  .team-preformance-area
  .top
  .right
  button:last-of-type
  .circle {
  background-color: var(--color-green-light);
  border-color: var(--color-green);
}
.home-content-area .team-preformance-area .top .right .select {
    font-size: 12px;
    font-weight: 500;
}
.home-content-area .team-preformance-area .top .right .select .options span{
    font-size: 12px;
}
.home-content-area .team-preformance-area .bottom {
  flex-grow: 1;
  width: 100%;
  height: 140px;
}
